In [4]:
i=int(input("Enter i value: "))
if i==1:
    print("One")
elif i==2:
    pass                        #suppose we dont have the code for elif ready then for time being we can use pass so that there is no error thrown.
elif i==3:                     #its a no operation statement used to complete a code block
    print("Three")

Three

In [ ]:
#data strcutures is a way to store and access data
"""
there are mainly four data structures in python

list
tuples
set
dictionary

Among these lists is used most among users
Internally tuples is most used by python

"""

In [5]:
datalist=[]
type(datalist)

list

In [6]:
datalist1=()
type(datalist1)

tuple

In [7]:
datalist2={}
type(datalist2)

dict

In [9]:
datalist3={0}
type(datalist3)

set

In [14]:
numbers=[11,222,3333,44444,55555]
for i in numbers:
    print(i,end=" ")

numbers[0:2]

sum(numbers)

11 222 3333 44444 55555

103565

In [25]:
list3=[i for i in range(0,101)]
print(list3)
list3.remove(69)
print(list3)
list3[::-1]                #not in place
list3.reverse()             #in place because the list is now permanently reversed
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [26]:
#nested loop
list2d=[[11,22,33],[44,55,66],[77,88,99]]
for i in list2d:
    print(i)

[11, 22, 33]
[44, 55, 66]
[77, 88, 99]

In [28]:
list2d=[
[11,22,33],
[44,55,66],
[77,88,99]
]
for row in list2d:
    for element in row:
        print(element)

11
22
33
44
55
66
77
88
99

In [34]:
list2d[2][2]   #tuples have less workability because they cannot be modified hence used by python internally for better security

99

In [35]:
td=(34,21,11)

In [37]:
td=(11,22,33)   #tuples cannot be modified but the elements can be replaced

In [38]:
td=(1,2,3,[11,22,33])

In [40]:
td[3].append(1000)  #this is to create a dynamic list inside a tuple
td

(1, 2, 3, [11, 22, 33, 1000])

In [41]:
s=set()  #this creates an empty set #in sets no duplicate are allowed
#suppose
#QR stands for quick response code
s.add(11)
s.add(34)
s.add(11)
s

{11, 34}

In [42]:
lista=[11,22,33,444,55,11,22,33,666,777,55]
lista=set(lista)   #this removes all the duplicate in a list
lista

{11, 22, 33, 55, 444, 666, 777}

In [43]:
d1={1:"One",2:"Two",3:"Three"}
d1[1]

'One'

In [45]:
d1[1.5]="Dedh Shana"  #for changing colours of fonts in backend
d1

{1: 'One', 2: 'Two', 3: 'Three', 1.5: 'Dedh Shana'}

In [67]:
"""
take n numbers from user until user gives blank
list only numbers which are unique
11 22 11 33 44 22 11
"""
listb=[]
n=int(input("Enter length of list: "))
print("Enter each element: ")
for i in range(n):
    (listb.append(input()))
print(listb)
listdup=set(listb)  
listdup=list(listdup)  
for item in listdup:
    print(f"{item} found {listb.count(item)} times")
print(listdup)
listdup.sort()
print(listdup)

Enter each element:
['11', '22', '33', '44', '11']
33 found 1 times
44 found 1 times
22 found 1 times
11 found 2 times
['33', '44', '22', '11']
['11', '22', '33', '44']

In [72]:
#what keyword is used for creating a function in python
#def keyword is used

def myFunction():  #body
    print("Hello There")

myFunction()  #call

def addNumber(no1,no2):     
    'Takes two input and add them'              #functions in python are by default overloaded that is the same add function can be used for integer and float
    #print(f"{no1}+{no2}={no1+no2}")
    return(no1+no2)

addNumber(10,22)

Hello There

32

In [74]:
#return can return more than element in tuple form
def order(no1,no2):
    if no1<no2:
        return(no2,no1)
    else:
        return(no1,no2)

ans=order(15,100)
type(ans)

tuple

In [75]:
#functions in python can take variable size arguments
def hobbies(*h):
    print(f"Total hobbies are: {len(h)}")
    print(type(h))
    for i in h:
        print(f"--> {i}")

hobbies("gaming","cricket","chess","dancing")

Total hobbies are: 4
<class 'tuple'>
--> gaming
--> cricket
--> chess
--> dancing

In [77]:
def aaddhar(name="unnamed",native="unknown"):
    print(f"So your name is {name} and you are from {native}")

aaddhar()
aaddhar("kartik","mumbai")

So your name is unnamed and you are from unknown
So your name is kartik and you are from mumbai

In [78]:
#this concept is known as decorators here exisiting function is modified by introducing a new function with additional parameters called as decorator function


def hindi(name):
    print(name,"मेरे दोस्त आप कैसे हैं")
def marathi(name):
    print(name,"कसा आहेस माझ्या मित्रा")
def english(name):
    print(name,"How are you my friend")
def intro(name,lang):
    print(f"In intro")
    lang(name)
    print("Intro ends")

intro("kartik",hindi)

In intro
kartik मेरे दोस्त आप कैसे हैं
Intro ends