In [2]:
s='"python"'
print(s)        #if we only type s on the terminal then all the quotes will be shown

"python"

In [3]:
s="kartik"+" "+"gavande"
print(s)

kartik gavande

In [5]:
s="kartik "*5
print(s)

kartik kartik kartik kartik kartik

In [6]:
#interview question
"kartik "*0.5        #can't multiply sequence by non-int of type 'float'

TypeError: can't multiply sequence by non-int of type 'float'

In [8]:
s="kartik"
s[0]

'k'

In [9]:
s[-4]

'r'

In [10]:
s[2:4]     #the interpreter will stop at four hence index 2 and 3 will be printed

'rt'

In [11]:
s="abcdefghijklmnop"
s[:]

'abcdefghijklmnop'

In [12]:
s[:5]

'abcde'

In [13]:
s[5:]

'fghijklmnop'

In [14]:
s[::-1]

'ponmlkjihgfedcba'

In [21]:
#take a word from user and print its triangle 

word=input("Enter any word")

length=len(word)

for i in range(1,length+1,1):
    print(word[:i])

a
ab
abc
abcd
abcde
abcdef
abcdefg
abcdefgh

In [24]:
#take a word from user and print its triangle in reverse manner

word=input("Enter any word")

length=len(word)

for i in range(length,0,-1):
    print(word[:i])

kartik
karti
kart
kar
ka
k

In [25]:
"kartik" in "kartik gavande"

True

In [26]:
"kit" in "kartik gavande"

False

In [27]:
#interview question
#how do you print the ascii value of a given char in python

ord('A')

65

In [28]:
ord('a')     #since ascii is a subset of unicode 
            #we are inshort using unicode

97

In [31]:
#give a reverse command of ord
chr(97)

'a'

In [33]:
chr(69)

'E'

In [30]:
chr(98)

'b'

In [38]:
#some useful string operations
""" 
-->capitalize
-->title
-->upper
-->lower
-->swapcase
"""

s="csjBB anCCicih oaCICiac abjcibCOId"

s.capitalize()

'Csjbb anccicih oaciciac abjcibcoid'

In [40]:
s.title()

'Csjbb Anccicih Oaciciac Abjcibcoid'

In [41]:
s.upper()

'CSJBB ANCCICIH OACICIAC ABJCIBCOID'

In [42]:
s.swapcase()

'CSJbb ANccICIH OAcicIAC ABJCIBcoiD'

In [43]:
s       #the strings are not mutable in python
        #that is even after performing all these operations
        #the og string will not change

'csjBB anCCicih oaCICiac abjcibCOId'

In [ ]:
""" 
more string methods

-->count
-->find
-->index
-->len
-->rfind    same as find and index but searches in
-->rindex    reverse order


"""

In [44]:
s="imagination"
s.find('i')

0

In [45]:
s.rfind('i')    #even if the search is in reverse order
                #it will not return a negative index hence 8

8

In [47]:
#center left and right padding
"""
syntax:
center(width,fillchar)
the fillchar parameter will fill the empty spaces
with dollar sign
"""

s="kartik"
s.center(10,"0")

'00kartik00'

In [49]:
""" 
strip methods for strings:

lstrip
rstrip
strip

"""

s='       kartik    gavande   '
s.strip()    #the in between spaces will not be touched for this method

'kartik    gavande'

In [50]:
s="kartik hemant"
s.replace("hemant","gavande")

'kartik gavande'

In [51]:
s="this is done"
s.replace("is","was")

'thwas was done'

In [54]:
s.replace(" is "," was ")

'this was done'

In [57]:
""" 
split methods
"""

s='this is a test line'
dlist=s.split()
print(dlist)
type(dlist)
len(dlist)    #the len function will not count the blank spaces

['this', 'is', 'a', 'test', 'line']

5

In [58]:
s='imagination'
s.split('i')    #will exclude i and split accordingly

['', 'mag', 'nat', 'on']

In [59]:
s="12,34,56,78,89"
s.split(',')

['12', '34', '56', '78', '89']

In [2]:
""" 
-->check if word is palindrom
-->create a copy
-->reverse a words copy
-->answer
"""

word=input("Enter any word")
if (word[::-1]==word):
    print(f"Yes {word} is a palindrome")
else:
    print("Not a palindrome")
    print(f"Reverse is: {word[::-1]}")

Not a palindrome
Reverse is: kitrak

In [3]:
line=input("Enter a string: ")
line=line.lower()  #so that it does not matter if there are caps in string
count=0
for i in line:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        count += 1

print(count)

5

In [10]:
line1=input("Enter a string")
line1.lower()
totalcount=0
vowels='aeiou'

for i in vowels:
    totalcount += line1.count(i)

print(totalcount)

5

In [17]:
#Important interview question
""" 
take a line of words count unique words

"""

line2=input("Enter any string")
"""listline=[]
for i in line2:
    listline.append(i)

print(listline)
listdup=set(line2) 
print(listdup)
print(len(listdup))"""
print(line2.split())
print(set(line2.split()))
print(f"Unique words are: ",len(set(line2.split())))

['this', 'is', 'was']
{'is', 'this', 'was'}
Unique words are:  3

In [30]:
#take this input
""" 
this is this was is this
count dups

"""
line2=input("Enter any string")
templist=line2.split()
print(templist)
checklist=set(templist)
checklistdum=list(checklist)
checklistdum1=checklistdum.sort()
checklistdum3=set(checklistdum1)

for i in checklistdum3:
    print(f" {i} appears {checklistdum.count(i)} times")

['this', 'is', 'was', 'is', 'this']

TypeError: 'NoneType' object is not iterable

In [35]:


for i in range(3000,4001,4):
    print(f"{i} is a leap year")
    




"""if year%4==0 and year%100!=0 or year%400==0:    #this order matters for the century years 1700,1800,1900
    print("Leap year")
else:
    print("Not leap year")"""

3000 is a leap year
3004 is a leap year
3008 is a leap year
3012 is a leap year
3016 is a leap year
3020 is a leap year
3024 is a leap year
3028 is a leap year
3032 is a leap year
3036 is a leap year
3040 is a leap year
3044 is a leap year
3048 is a leap year
3052 is a leap year
3056 is a leap year
3060 is a leap year
3064 is a leap year
3068 is a leap year
3072 is a leap year
3076 is a leap year
3080 is a leap year
3084 is a leap year
3088 is a leap year
3092 is a leap year
3096 is a leap year
3100 is a leap year
3104 is a leap year
3108 is a leap year
3112 is a leap year
3116 is a leap year
3120 is a leap year
3124 is a leap year
3128 is a leap year
3132 is a leap year
3136 is a leap year
3140 is a leap year
3144 is a leap year
3148 is a leap year
3152 is a leap year
3156 is a leap year
3160 is a leap year
3164 is a leap year
3168 is a leap year
3172 is a leap year
3176 is a leap year
3180 is a leap year
3184 is a leap year
3188 is a leap year
3192 is a leap year
3196 is a leap year
3200 is a leap year
3204 is a leap year
3208 is a leap year
3212 is a leap year
3216 is a leap year
3220 is a leap year
3224 is a leap year
3228 is a leap year
3232 is a leap year
3236 is a leap year
3240 is a leap year
3244 is a leap year
3248 is a leap year
3252 is a leap year
3256 is a leap year
3260 is a leap year
3264 is a leap year
3268 is a leap year
3272 is a leap year
3276 is a leap year
3280 is a leap year
3284 is a leap year
3288 is a leap year
3292 is a leap year
3296 is a leap year
3300 is a leap year
3304 is a leap year
3308 is a leap year
3312 is a leap year
3316 is a leap year
3320 is a leap year
3324 is a leap year
3328 is a leap year
3332 is a leap year
3336 is a leap year
3340 is a leap year
3344 is a leap year
3348 is a leap year
3352 is a leap year
3356 is a leap year
3360 is a leap year
3364 is a leap year
3368 is a leap year
3372 is a leap year
3376 is a leap year
3380 is a leap year
3384 is a leap year
3388 is a leap year
3392 is a leap year
3396 is a leap year
3400 is a leap year
3404 is a leap year
3408 is a leap year
3412 is a leap year
3416 is a leap year
3420 is a leap year
3424 is a leap year
3428 is a leap year
3432 is a leap year
3436 is a leap year
3440 is a leap year
3444 is a leap year
3448 is a leap year
3452 is a leap year
3456 is a leap year
3460 is a leap year
3464 is a leap year
3468 is a leap year
3472 is a leap year
3476 is a leap year
3480 is a leap year
3484 is a leap year
3488 is a leap year
3492 is a leap year
3496 is a leap year
3500 is a leap year
3504 is a leap year
3508 is a leap year
3512 is a leap year
3516 is a leap year
3520 is a leap year
3524 is a leap year
3528 is a leap year
3532 is a leap year
3536 is a leap year
3540 is a leap year
3544 is a leap year
3548 is a leap year
3552 is a leap year
3556 is a leap year
3560 is a leap year
3564 is a leap year
3568 is a leap year
3572 is a leap year
3576 is a leap year
3580 is a leap year
3584 is a leap year
3588 is a leap year
3592 is a leap year
3596 is a leap year
3600 is a leap year
3604 is a leap year
3608 is a leap year
3612 is a leap year
3616 is a leap year
3620 is a leap year
3624 is a leap year
3628 is a leap year
3632 is a leap year
3636 is a leap year
3640 is a leap year
3644 is a leap year
3648 is a leap year
3652 is a leap year
3656 is a leap year
3660 is a leap year
3664 is a leap year
3668 is a leap year
3672 is a leap year
3676 is a leap year
3680 is a leap year
3684 is a leap year
3688 is a leap year
3692 is a leap year
3696 is a leap year
3700 is a leap year
3704 is a leap year
3708 is a leap year
3712 is a leap year
3716 is a leap year
3720 is a leap year
3724 is a leap year
3728 is a leap year
3732 is a leap year
3736 is a leap year
3740 is a leap year
3744 is a leap year
3748 is a leap year
3752 is a leap year
3756 is a leap year
3760 is a leap year
3764 is a leap year
3768 is a leap year
3772 is a leap year
3776 is a leap year
3780 is a leap year
3784 is a leap year
3788 is a leap year
3792 is a leap year
3796 is a leap year
3800 is a leap year
3804 is a leap year
3808 is a leap year
3812 is a leap year
3816 is a leap year
3820 is a leap year
3824 is a leap year
3828 is a leap year
3832 is a leap year
3836 is a leap year
3840 is a leap year
3844 is a leap year
3848 is a leap year
3852 is a leap year
3856 is a leap year
3860 is a leap year
3864 is a leap year
3868 is a leap year
3872 is a leap year
3876 is a leap year
3880 is a leap year
3884 is a leap year
3888 is a leap year
3892 is a leap year
3896 is a leap year
3900 is a leap year
3904 is a leap year
3908 is a leap year
3912 is a leap year
3916 is a leap year
3920 is a leap year
3924 is a leap year
3928 is a leap year
3932 is a leap year
3936 is a leap year
3940 is a leap year
3944 is a leap year
3948 is a leap year
3952 is a leap year
3956 is a leap year
3960 is a leap year
3964 is a leap year
3968 is a leap year
3972 is a leap year
3976 is a leap year
3980 is a leap year
3984 is a leap year
3988 is a leap year
3992 is a leap year
3996 is a leap year
4000 is a leap year

'if year%4==0 and year%100!=0 or year%400==0:    #this order matters for the century years 1700,1800,1900\n    print("Leap year")\nelse:\n    print("Not leap year")'

In [39]:
start=int((input("Enter start:")))
end=int(input("Enter end: "))
year=0

for y in range(start,end+1):
    if(y%4==0 and y%100!=0) or y%400==0:
        year=y
        print(f"First leap year: {year}")
        break

print("Now from loop")
for y in range(y,end+1,4):
    if(y%4==0 and y%100!=0) or y%400==0:
        print(y)

First leap year: 1500
Now from loop
1504
1508
1512
1516
1520
1524
1528
1532
1536
1540
1544
1548
1552
1556
1560
1564
1568
1572
1576
1580
1584
1588
1592
1596
1600
1604
1608
1612
1616
1620
1624
1628
1632
1636
1640
1644
1648
1652
1656
1660
1664
1668
1672
1676
1680
1684
1688
1692
1696
1704
1708
1712
1716
1720
1724
1728
1732
1736
1740
1744
1748
1752
1756
1760
1764
1768
1772
1776
1780
1784
1788
1792
1796
1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000

In [49]:
word=input("Enter any string")
dumword=word.split()
#print(dumword)
rline=dumword[::-1]

for i in rline:
    print(i,end=" ")

end is this